.cart-item {
  background-color: #eeeeee;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}
form {
  > div {
    display: flex;
    flex-direction: column;
    label {
      text-transform: uppercase;
    }
    input[type="text"]{
      align-self: flex-start;
    }
  }
  .button{
    margin: 5px 0;
    color: white;
    background-color: #1976d2;
  }
}
